<!-- app/templates/home/about.html -->
{% extends "base.html" %}
{% block content %}
<h1 class="my-4">About us</h1>
<p><a href="https://github.com/GreatBahram/PyAccounting">PyAccounting </a>is very simple and new-fashioned web application which is written in <a href="http://flask.pocoo.org/">Flask </a>framework and it allows you to simply and gently Split expenses with your friends. <p>
<p>It's better to let computers do the math for us!</p>
<p>Our advantages against the other:</p>
<ul>
    <li>Totally free under GPL-3.0 license</li>
    <li>Keeps your database completely locally.</li>
    <li>Friendly E-mail reminders</li>
</ul>
<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="my-4">Our Team</h2>
    </div>

    <div class="col-lg-4 col-sm-6 text-center mb-4">
        <img class="rounded-circle img-fluid d-block mx-auto" src="https://greatbahram.github.io/img/bahram.jpeg" alt="">
        <h3>GreatBahram
            <small>Backend Developer</small>
        </h3>
        <p>Pythonista. GNU/Linux master. Free and Open Source Enthusiast. Independent and lifelong learner</p>
    </div>
</div>
{% endblock %}

