<!-- app/templates/home/dashboard.html -->

{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>The Dashboard</h1>
                    <hr class="intro-divider">
		    <ul class="btn-group-vertical btn-group-lg">
                        <li class="btn btn-warning"><a href="{{ url_for('user.add_purchase') }}">Add new purchase</a></li>
                        <li class="btn btn-warning"><a href="">Payoff</a></li>
                        <li class="btn btn-warning"><a href="">Shopping List</a></li>
                        <li class="btn btn-warning"><a href="">Payoff List</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
